{% extends 'base.base.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>

    {% else %}
        <div class="form-card card container">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form method="post">

                <h1 class="text-center">Connexion</h1>
                <div class="row">
                    <div class="col-md-6">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control"
                               placeholder="Email" required autofocus>
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               placeholder="Password"
                               required>

                    </div>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button type="submit" class="btn1 btn-primary btn-lg btn-block btn-dark">Se connecter</button>

            </form>
        </div>

    {% endif %}


{% endblock %}


