<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
			  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			  crossorigin="anonymous">
	{% endblock %}
</head>
<body>
<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">Navbar</a>
	<a href="{{ path('app_login') }}">Login</a>
	<a href="{{ path('user_registration') }}">Register</a>
	<a href="{{ path('fichefrais') }}">Fiche frais</a>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
