{% extends 'base.html.twig' %}

{% block title %}Fiche frais{% endblock %}

{% block body %}

	{#    {% if is_granted(expression('"ROLE_ADMIN" in roles')) %}#}
	<div class="card my-card">
		<div class="card-body">

			<div class="form-card container">
				<h3>Ligne frais forfait</h3>

				{{ form_start(form) }}

				<div class="form-group">
					{% if form_errors((form)) %}
						<div class="alert alert-danger">
							{{ form_errors((form)) }}
						</div>
					{% endif %}
				</div>

				<div class="form-group">
					{% if form_errors((form)) %}
						<div class="alert alert-danger">
							{{ form_errors((form)) }}
						</div>
					{% endif %}
					<div class="form-group">
						{{ form_label(form.dateFFrais, 'Date fiche frais') }}
						{{ form_widget(form.dateFFrais, { 'attr': {'class': 'form-control'} }) }}
					</div>

					<div class="form-group">
						{{ form_label(form.quantite, 'Quantite') }}
						{{ form_widget(form.quantite, { 'attr': {'class': 'form-control'} }) }}
					</div>

					<div class="form-group">
						{{ form_label(form.typeFF, 'Type fiche frais') }}
						{{ form_widget(form.typeFF, { 'attr': {'class': 'form-control'} }) }}
					</div>


					<div class="fiche form-group"
						 data-prototype="{{ form_widget(form.fraisForfait.vars.prototype)|e('html_attr') }}">
					</div>


				</div>

				<button type="submit" class="btn btn-primary">Valider</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

	{#    {% else %}#}

	{#    {% endif %}#}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
        $(document).ready(function () {

            function button() {
                let $collectionHolder;
                const $newFraisForfait = $('<div class="text-center"></div>');

                $collectionHolder = $('div.fiche');

                console.log($collectionHolder);

                $collectionHolder.append($newFraisForfait);

                $collectionHolder.data('index', $collectionHolder.find(':input').length);

                // $addCardButton.on('click', function (e) {
                //     $(this).addClass('animated').addClass('slideInDown');
                //     setTimeout(function () {
                //         $(this).removeClass('slideInDown');
                //     }, 1000);

                addFraisForfait($collectionHolder, $newFraisForfait);

                //     $('.add_phase_link').prop('disabled', true);
                //     $('.btn-new-question').prop('disabled', false);
                //
                // })
            }

            function addFraisForfait($collectionHolder, $newFraisForfait) {
                // Get the data-prototype explained earlier
                const prototype = $collectionHolder.data('prototype');
                // get the new index
                const index = $collectionHolder.data('index');
                let newForm = prototype;

                newForm = newForm.replace(/__name__/g, index);

                $collectionHolder.data('index', index + 1);

                // newForm.after('<div class="form-group">');

                const $newFormFraisForfait = $('<div id="fraitforfait" class="form-group"></div>').append(newForm);
                $newFraisForfait.before($newFormFraisForfait);

                console.log("test : ", $('#fraitforfait').find(':input'))
            }

            button();
        })
	</script>
{% endblock %}