{% extends 'base.html.twig' %}

{% block body %}
    <div class="card my-card">
        <div class="card-body">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <div class="form-card container">
                <h3>Créer un nouveau type pour la ligne frais forfait</h3>

                {{ form_start(form) }}

                <div class="form-group">
                    {% if form_errors((form)) %}
                        <div class="alert alert-danger">
                            {{ form_errors((form)) }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form_errors((form)) %}
                        <div class="alert alert-danger">
                            {{ form_errors((form)) }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form_label(form.nomVehicule, 'Nom du vehicule') }}
                        {{ form_widget(form.nomVehicule, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.utilisateur, 'Utilisateur à affecter') }}
                        {{ form_widget(form.utilisateur, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Valider</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

